

  <h1>Movie Bot</h1>
<mat-card-actions align="center">
  <button mat-raised-button routerLink="/scroll" color="primary">
    Build New AI
  </button>
  <button mat-raised-button routerLink="/angular" color="primary">
    Instuctions
  </button>
  <button mat-raised-button routerLink="/groups" color="primary">
    View AI Results
  </button>
</mat-card-actions>
<nav>

</nav>
<!-- <Scroll-component></Scroll-component> -->
<router-outlet></router-outlet>
<!-- <results-component></results-component> -->
