<mat-card align="center">
  <mat-card-title><h1> Instuctions </h1></mat-card-title>
Welcome to the movie predictor! <br>
You will be able to go through movies and choose whether
you would like to be recommended movies like this or not.<br>
We have also added keyboard support so you can use the 1,2,3,4 keys to quickly choose.<br>
If you have not seen a film before, you can just skip it. <br>
<br>
After you have completed a few choices, enter a username and click complete to train your personal movie guesser<br>
<strong>Now click "Build New AI" to get started!</strong><br>
<br>
If you have already trained an "AI", click on "View AI Results" and type in the username to see the bot's recommendations.

</mat-card>
